<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular2-query-builder documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
	      <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="./" class="navbar-brand">angular2-query-builder documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
    <input type="text" placeholder="Type to search">
</div>
            <nav>

    <ul class="list">

        <li class="title">
            <a href="index.html" data-type="index-link">angular2-query-builder documentation</a>
        </li>

        <li class="divider"></li>


        <li class="chapter">
            <a data-type="chapter-link" href="index.html"><span class="fa fa-home"></span>Getting started</a>
            <ul class="links">
                    <li class="link">
                        <a 
                            
                             href="overview.html" 
                             href="overview.html" 
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-th"></span>Overview
                        </a>
                    </li>
                    <li class="link">
                      <a href="index.html" data-type="chapter-link"><span class="fa fa-file-text-o"></span>README</a>
                    </li>
                    <li class="link">
                            <a href="changelog.html"
                        data-type="chapter-link">
                            <span class="fa fa-fw fa-file-text-o"></span>CHANGELOG
                        </a>
                    </li>
                    <li class="link">
                            <a href="license.html"
                        data-type="chapter-link">
                            <span class="fa fa-fw fa-file-text-o"></span>LICENSE
                        </a>
                    </li>
                    <li class="link">
                        <a href="dependencies.html"
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-list"></span>Dependencies
                        </a>
                    </li>
            </ul>
        </li>


        <li class="chapter modules">
            <a data-type="chapter-link" href="modules.html">
                <div class="menu-toggler linked" data-toggle="collapse"
                        data-target="#xs-modules-links"
                >
                    <span class="fa fa-fw fa-archive"></span>
                    <span class="link-name">Modules</span>
                    <span class="fa fa-angle-down"></span>
                </div>
            </a>
            <ul class="links collapse"
                    id="xs-modules-links"
                >
                    <li class="link">
                        <a href="modules/QueryBuilderModule.html" data-type="entity-link">QueryBuilderModule</a>
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-toggle="collapse"
                                        data-target="#xs-components-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
                                    >
                                    <span class="fa fa-fw fa-cogs"></span>
                                    <span>Components</span>
                                    <span class="fa fa-angle-down"></span>
                                </div>
                                <ul class="links collapse"
                                        id="xs-components-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
                                    >
                                        <li class="link">
                                            <a href="components/QueryBuilderComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryBuilderComponent</a>
                                        </li>
                                </ul>
                            </li>
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-toggle="collapse"
                                        data-target="#xs-directives-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
                                    >
                                    <span class="fa fa-fw fa-code"></span>
                                    <span>Directives</span>
                                    <span class="fa fa-angle-down"></span>
                                </div>
                                <ul class="links collapse"
                                        id="xs-directives-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
                                    >
                                        <li class="link">
                                            <a href="directives/QueryArrowIconDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryArrowIconDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryButtonGroupDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryButtonGroupDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryEmptyWarningDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryEmptyWarningDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryEntityDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryEntityDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryFieldDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryFieldDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryInputDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryInputDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryOperatorDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryOperatorDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryRemoveButtonDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryRemoveButtonDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QuerySwitchGroupDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QuerySwitchGroupDirective</a>
                                        </li>
                                </ul>
                            </li>
                    </li>
            </ul>
        </li>

                <li class="chapter">
                    <div class="simple menu-toggler" data-toggle="collapse"
                            data-target="#xs-components-links"
                        >
                        <span class="fa fa-fw fa-cogs"></span>
                        <span>Components</span>
                        <span class="fa fa-angle-down"></span>
                    </div>
                    <ul class="links collapse"
                            id="xs-components-links"
                        >
                            <li class="link">
                                <a href="components/QueryBuilderComponent.html" data-type="entity-link">QueryBuilderComponent</a>
                            </li>
                    </ul>
                </li>

                <li class="chapter">
                    <div class="simple menu-toggler" data-toggle="collapse"
                            data-target="#xs-directives-links"
                        >
                        <span class="fa fa-fw fa-code"></span>
                        <span>Directives</span>
                        <span class="fa fa-angle-down"></span>
                    </div>
                    <ul class="links collapse"
                            id="xs-directives-links"
                        >
                            <li class="link">
                                <a href="directives/QueryArrowIconDirective.html" data-type="entity-link">QueryArrowIconDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryButtonGroupDirective.html" data-type="entity-link">QueryButtonGroupDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryEmptyWarningDirective.html" data-type="entity-link">QueryEmptyWarningDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryEntityDirective.html" data-type="entity-link">QueryEntityDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryFieldDirective.html" data-type="entity-link">QueryFieldDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryInputDirective.html" data-type="entity-link">QueryInputDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryOperatorDirective.html" data-type="entity-link">QueryOperatorDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryRemoveButtonDirective.html" data-type="entity-link">QueryRemoveButtonDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QuerySwitchGroupDirective.html" data-type="entity-link">QuerySwitchGroupDirective</a>
                            </li>
                    </ul>
                </li>




        <li class="chapter">
            <div class="simple menu-toggler" data-toggle="collapse"
                    data-target="#xs-interfaces-links"
                >
                <span class="fa fa-fw fa-info"></span>
                <span>Interfaces</span>
                <span class="fa fa-angle-down"></span>
            </div>
            <ul class="links collapse"
                    id="xs-interfaces-links"
                >
                    <li class="link">
                        <a href="interfaces/ArrowIconContext.html" data-type="entity-link">ArrowIconContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/ButtonGroupContext.html" data-type="entity-link">ButtonGroupContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/EmptyWarningContext.html" data-type="entity-link">EmptyWarningContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Entity.html" data-type="entity-link">Entity</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/EntityContext.html" data-type="entity-link">EntityContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/EntityMap.html" data-type="entity-link">EntityMap</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Field.html" data-type="entity-link">Field</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/FieldContext.html" data-type="entity-link">FieldContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/FieldMap.html" data-type="entity-link">FieldMap</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/InputContext.html" data-type="entity-link">InputContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/LocalRuleMeta.html" data-type="entity-link">LocalRuleMeta</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/OperatorContext.html" data-type="entity-link">OperatorContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Option.html" data-type="entity-link">Option</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/QueryBuilderClassNames.html" data-type="entity-link">QueryBuilderClassNames</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/QueryBuilderConfig.html" data-type="entity-link">QueryBuilderConfig</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/RemoveButtonContext.html" data-type="entity-link">RemoveButtonContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Rule.html" data-type="entity-link">Rule</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/RuleSet.html" data-type="entity-link">RuleSet</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/SwitchGroupContext.html" data-type="entity-link">SwitchGroupContext</a>
                    </li>
            </ul>
        </li>


        <li class="chapter">
            <div class="simple menu-toggler" data-toggle="collapse"
                    data-target="#xs-miscellaneous-links"
                >
                <span class="fa fa-fw fa-cubes"></span>
                <span>Miscellaneous</span>
                <span class="fa fa-angle-down"></span>
            </div>
            <ul class="links collapse"
                    id="xs-miscellaneous-links"
                >
                    <li class="link">
                      <a href="miscellaneous/variables.html" data-type="entity-link">Variables</a>
                    </li>
            </ul>
        </li>



        <li class="divider"></li>
        <li class="copyright">
                Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                            <img data-src="images/compodoc-vectorise.svg" class="img-responsive" data-type="compodoc-logo">
                </a>
        </li>

    </ul>

</nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>

    <ul class="list">

        <li class="title">
            <a href="index.html" data-type="index-link">angular2-query-builder documentation</a>
        </li>

        <li class="divider"></li>

            <div id="book-search-input" role="search">
    <input type="text" placeholder="Type to search">
</div>

        <li class="chapter">
            <a data-type="chapter-link" href="index.html"><span class="fa fa-home"></span>Getting started</a>
            <ul class="links">
                    <li class="link">
                        <a 
                            
                             href="overview.html" 
                             href="overview.html" 
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-th"></span>Overview
                        </a>
                    </li>
                    <li class="link">
                      <a href="index.html" data-type="chapter-link"><span class="fa fa-file-text-o"></span>README</a>
                    </li>
                    <li class="link">
                            <a href="changelog.html"
                        data-type="chapter-link">
                            <span class="fa fa-fw fa-file-text-o"></span>CHANGELOG
                        </a>
                    </li>
                    <li class="link">
                            <a href="license.html"
                        data-type="chapter-link">
                            <span class="fa fa-fw fa-file-text-o"></span>LICENSE
                        </a>
                    </li>
                    <li class="link">
                        <a href="dependencies.html"
                            data-type="chapter-link">
                            <span class="fa fa-fw fa-list"></span>Dependencies
                        </a>
                    </li>
            </ul>
        </li>


        <li class="chapter modules">
            <a data-type="chapter-link" href="modules.html">
                <div class="menu-toggler linked" data-toggle="collapse"
                        data-target="#modules-links"
                >
                    <span class="fa fa-fw fa-archive"></span>
                    <span class="link-name">Modules</span>
                    <span class="fa fa-angle-down"></span>
                </div>
            </a>
            <ul class="links collapse"
                    id="modules-links"
>
                    <li class="link">
                        <a href="modules/QueryBuilderModule.html" data-type="entity-link">QueryBuilderModule</a>
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-toggle="collapse"
                                        data-target="#components-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
>
                                    <span class="fa fa-fw fa-cogs"></span>
                                    <span>Components</span>
                                    <span class="fa fa-angle-down"></span>
                                </div>
                                <ul class="links collapse"
                                        id="components-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
>
                                        <li class="link">
                                            <a href="components/QueryBuilderComponent.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryBuilderComponent</a>
                                        </li>
                                </ul>
                            </li>
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-toggle="collapse"
                                        data-target="#directives-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
>
                                    <span class="fa fa-fw fa-code"></span>
                                    <span>Directives</span>
                                    <span class="fa fa-angle-down"></span>
                                </div>
                                <ul class="links collapse"
                                        id="directives-links-module-QueryBuilderModule-2e8edcbec3136a995441c950282650d8"
>
                                        <li class="link">
                                            <a href="directives/QueryArrowIconDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryArrowIconDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryButtonGroupDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryButtonGroupDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryEmptyWarningDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryEmptyWarningDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryEntityDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryEntityDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryFieldDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryFieldDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryInputDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryInputDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryOperatorDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryOperatorDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QueryRemoveButtonDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QueryRemoveButtonDirective</a>
                                        </li>
                                        <li class="link">
                                            <a href="directives/QuerySwitchGroupDirective.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules">QuerySwitchGroupDirective</a>
                                        </li>
                                </ul>
                            </li>
                    </li>
            </ul>
        </li>

                <li class="chapter">
                    <div class="simple menu-toggler" data-toggle="collapse"
                            data-target="#components-links"
>
                        <span class="fa fa-fw fa-cogs"></span>
                        <span>Components</span>
                        <span class="fa fa-angle-down"></span>
                    </div>
                    <ul class="links collapse"
                            id="components-links"
>
                            <li class="link">
                                <a href="components/QueryBuilderComponent.html" data-type="entity-link">QueryBuilderComponent</a>
                            </li>
                    </ul>
                </li>

                <li class="chapter">
                    <div class="simple menu-toggler" data-toggle="collapse"
                            data-target="#directives-links"
>
                        <span class="fa fa-fw fa-code"></span>
                        <span>Directives</span>
                        <span class="fa fa-angle-down"></span>
                    </div>
                    <ul class="links collapse"
                            id="directives-links"
>
                            <li class="link">
                                <a href="directives/QueryArrowIconDirective.html" data-type="entity-link">QueryArrowIconDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryButtonGroupDirective.html" data-type="entity-link">QueryButtonGroupDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryEmptyWarningDirective.html" data-type="entity-link">QueryEmptyWarningDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryEntityDirective.html" data-type="entity-link">QueryEntityDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryFieldDirective.html" data-type="entity-link">QueryFieldDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryInputDirective.html" data-type="entity-link">QueryInputDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryOperatorDirective.html" data-type="entity-link">QueryOperatorDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QueryRemoveButtonDirective.html" data-type="entity-link">QueryRemoveButtonDirective</a>
                            </li>
                            <li class="link">
                                <a href="directives/QuerySwitchGroupDirective.html" data-type="entity-link">QuerySwitchGroupDirective</a>
                            </li>
                    </ul>
                </li>




        <li class="chapter">
            <div class="simple menu-toggler" data-toggle="collapse"
                    data-target="#interfaces-links"
>
                <span class="fa fa-fw fa-info"></span>
                <span>Interfaces</span>
                <span class="fa fa-angle-down"></span>
            </div>
            <ul class="links collapse"
                    id="interfaces-links"
>
                    <li class="link">
                        <a href="interfaces/ArrowIconContext.html" data-type="entity-link">ArrowIconContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/ButtonGroupContext.html" data-type="entity-link">ButtonGroupContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/EmptyWarningContext.html" data-type="entity-link">EmptyWarningContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Entity.html" data-type="entity-link">Entity</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/EntityContext.html" data-type="entity-link">EntityContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/EntityMap.html" data-type="entity-link">EntityMap</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Field.html" data-type="entity-link">Field</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/FieldContext.html" data-type="entity-link">FieldContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/FieldMap.html" data-type="entity-link">FieldMap</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/InputContext.html" data-type="entity-link">InputContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/LocalRuleMeta.html" data-type="entity-link">LocalRuleMeta</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/OperatorContext.html" data-type="entity-link">OperatorContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Option.html" data-type="entity-link">Option</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/QueryBuilderClassNames.html" data-type="entity-link">QueryBuilderClassNames</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/QueryBuilderConfig.html" data-type="entity-link">QueryBuilderConfig</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/RemoveButtonContext.html" data-type="entity-link">RemoveButtonContext</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/Rule.html" data-type="entity-link">Rule</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/RuleSet.html" data-type="entity-link">RuleSet</a>
                    </li>
                    <li class="link">
                        <a href="interfaces/SwitchGroupContext.html" data-type="entity-link">SwitchGroupContext</a>
                    </li>
            </ul>
        </li>


        <li class="chapter">
            <div class="simple menu-toggler" data-toggle="collapse"
                    data-target="#miscellaneous-links"
>
                <span class="fa fa-fw fa-cubes"></span>
                <span>Miscellaneous</span>
                <span class="fa fa-angle-down"></span>
            </div>
            <ul class="links collapse"
                    id="miscellaneous-links"
>
                    <li class="link">
                      <a href="miscellaneous/variables.html" data-type="entity-link">Variables</a>
                    </li>
            </ul>
        </li>



        <li class="divider"></li>
        <li class="copyright">
                Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                            <img data-src="images/compodoc-vectorise.svg" class="img-responsive" data-type="compodoc-logo">
                </a>
        </li>

    </ul>

</nav>
               </div>
               <!-- START CONTENT -->
               <div class="content getting-started">
                   <div class="content-data">

<h1 id="angular-querybuilder">Angular-QueryBuilder</h1>
<p>A modernized Angular 4+ query builder based on jQuery QueryBuilder. Support for heavy customization with Angular components and provides a flexible way to handle custom data types.</p>
<h1 id="getting-started">Getting Started</h1>
<h2 id="install">Install</h2>
<p><code>npm install angular2-query-builder</code></p>
<h2 id="demo">Demo</h2>
<p>Play with the <a href="https://zebzhao.github.io/Angular-QueryBuilder/demo/">demo here</a>.</p>
<p><a href="https://zebzhao.github.io/Angular-QueryBuilder/editor/">Editable demo</a></p>
<p><a href="https://plnkr.co/edit/vtzerj4oFQLB6ukcxb9D?p=preview">See the Plunker</a></p>
<h2 id="documentation">Documentation</h2>
<p><a href="https://zebzhao.github.io/Angular-QueryBuilder/">Documentation link</a></p>
<h1 id="examples">Examples</h1>
<h2 id="basic-usage">Basic Usage</h2>
<h5 id="app-module-ts"><code>app.module.ts</code></h5>
<div><pre class="line-numbers"><code class="language-javascript">import { QueryBuilderModule } from &quot;angular2-query-builder&quot;;
import { AppComponent } from &quot;./app.component&quot;

&#64;NgModule(imports: [
  ...,
  QueryBuilderModule,
  IonicModule.forRoot(AppComponent) // (Optional) for IonicFramework 2+
])
export class AppModule { }</code></pre></div><h5 id="app-component-html"><code>app.component.html</code></h5>
<div><pre class="line-numbers"><code class="language-html">...
&lt;query-builder [(ngModel)]=&#39;query&#39; [config]=&#39;config&#39;&gt;&lt;/query-builder&gt;
...</code></pre></div><h5 id="app-component-ts"><code>app.component.ts</code></h5>
<div><pre class="line-numbers"><code class="language-javascript">import { QueryBuilderConfig } from &#39;angular2-query-builder&#39;;

export class AppComponent {
  query = {
    condition: &#39;and&#39;,
    rules: [
      {field: &#39;age&#39;, operator: &#39;&lt;=&#39;, value: &#39;Bob&#39;},
      {field: &#39;gender&#39;, operator: &#39;&gt;=&#39;, value: &#39;m&#39;}
    ]
  };

  config: QueryBuilderConfig = {
    fields: {
      age: {name: &#39;Age&#39;, type: &#39;number&#39;},
      gender: {
        name: &#39;Gender&#39;,
        type: &#39;category&#39;,
        options: [
          {name: &#39;Male&#39;, value: &#39;m&#39;},
          {name: &#39;Female&#39;, value: &#39;f&#39;}
        ]
      }
    }
  }
}</code></pre></div><h2 id="custom-input-components">Custom Input Components</h2>
<h5 id="app-component-html"><code>app.component.html</code></h5>
<div><pre class="line-numbers"><code class="language-html">&lt;query-builder [(ngModel)]=&#39;query&#39; [config]=&#39;config&#39;&gt;
  &lt;ng-container *queryInput=&quot;let rule; type: &#39;date&#39;&quot;&gt;
    &lt;custom-datepicker [(ngModel)]=&quot;rule.value&quot;&gt;&lt;/custom-datepicker&gt;
  &lt;/ng-container&gt;
&lt;/query-builder&gt;</code></pre></div><h5 id="app-component-ts"><code>app.component.ts</code></h5>
<div><pre class="line-numbers"><code class="language-javascript">query = {
  condition: &#39;and&#39;,
  rules: [
    {field: &#39;birthday&#39;, operator: &#39;=&#39;, value: new Date()}
  ]
};

config: QueryBuilderConfig = {
  fields: {
    birthday: {name: &#39;Birthday&#39;, type: &#39;date&#39;, operators: [&#39;=&#39;, &#39;&lt;=&#39;, &#39;&gt;&#39;]
      defaultValue: (() =&gt; return new Date())
    },
  }
}</code></pre></div><h2 id="custom-styling-with-bootstrap-4-">Custom Styling (with Bootstrap 4)</h2>
<p><a href="https://zebzhao.github.io/Angular-QueryBuilder/demo/">Bootstrap demo</a>.</p>
<h5 id="app-component-html"><code>app.component.html</code></h5>
<div><pre class="line-numbers"><code class="language-html">&lt;query-builder [(ngModel)]=&#39;query&#39; [config]=&#39;config&#39; [classNames]=&#39;classNames&#39;&gt;&lt;/query-builder&gt;</code></pre></div><h5 id="app-component-ts"><code>app.component.ts</code></h5>
<div><pre class="line-numbers"><code class="language-javascript">classNames: QueryBuilderClassNames = {
  removeIcon: &#39;fa fa-minus&#39;,
  addIcon: &#39;fa fa-plus&#39;,
  arrowIcon: &#39;fa fa-chevron-right px-2&#39;,
  button: &#39;btn&#39;,
  buttonGroup: &#39;btn-group&#39;,
  rightAlign: &#39;order-12 ml-auto&#39;,
  switchRow: &#39;d-flex px-2&#39;,
  switchGroup: &#39;d-flex align-items-center&#39;,
  switchRadio: &#39;custom-control-input&#39;,
  switchLabel: &#39;custom-control-label&#39;,
  switchControl: &#39;custom-control custom-radio custom-control-inline&#39;,
  row: &#39;row p-2 m-1&#39;,
  rule: &#39;border&#39;,
  ruleSet: &#39;border&#39;,
  invalidRuleSet: &#39;alert alert-danger&#39;,
  emptyWarning: &#39;text-danger mx-auto&#39;,
  operatorControl: &#39;form-control&#39;,
  operatorControlSize: &#39;col-auto pr-0&#39;,
  fieldControl: &#39;form-control&#39;,
  fieldControlSize: &#39;col-auto pr-0&#39;,
  entityControl: &#39;form-control&#39;,
  entityControlSize: &#39;col-auto pr-0&#39;,
  inputControl: &#39;form-control&#39;,
  inputControlSize: &#39;col-auto&#39;
}</code></pre></div><h2 id="customizing-with-angular-material">Customizing with Angular Material</h2>
<p>Example of how you can completely customize the query component with another library like Angular Material. For the full example, please look at the <a href="https://github.com/zebzhao/Angular-QueryBuilder/blob/master/demo/src/app/app.component.ts">source code</a> provided in the demo.</p>
<h4 id="app-component-html"><code>app.component.html</code></h4>
<div><pre class="line-numbers"><code class="language-html">&lt;query-builder [(ngModel)]=&#39;query&#39; [config]=&#39;config&#39;&gt;
  &lt;ng-container *queryButtonGroup=&quot;let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet&quot;&gt;
    &lt;button mat-button (click)=&quot;addRule()&quot;&gt;+ Rule&lt;/button&gt;
    &lt;button mat-button (click)=&quot;addRuleSet()&quot;&gt;+ Ruleset&lt;/button&gt;
    &lt;button mat-button (click)=&quot;removeRuleSet()&quot;&gt;- Ruleset&lt;/button&gt;
  &lt;/ng-container&gt;
  &lt;ng-container *queryRemoveButton=&quot;let rule; let removeRule=removeRule&quot;&gt;
    &lt;button mat-icon-button color=&quot;accent&quot; (click)=&quot;removeRule(rule)&quot;&gt;
      &lt;mat-icon&gt;remove&lt;/mat-icon&gt;
    &lt;/button&gt;
  &lt;/ng-container&gt;
  &lt;ng-container *querySwitchGroup=&quot;let ruleset&quot;&gt;
    &lt;mat-radio-group *ngIf=&quot;ruleset&quot; [(ngModel)]=&quot;ruleset.condition&quot;&gt;
      &lt;mat-radio-button value=&quot;and&quot;&gt;And&lt;/mat-radio-button&gt;
      &lt;mat-radio-button value=&quot;or&quot;&gt;Or&lt;/mat-radio-button&gt;
    &lt;/mat-radio-group&gt;
  &lt;/ng-container&gt;
  &lt;ng-container *queryField=&quot;let rule; let fields=fields; let changeField=changeField&quot;&gt;
    &lt;mat-form-field&gt;
      &lt;mat-select [(ngModel)]=&quot;rule.field&quot; (ngModelChange)=&quot;changeField($event, rule)&quot;&gt;
        &lt;mat-option *ngFor=&quot;let field of fields&quot; [value]=&quot;field.value&quot;&gt;{{field.name}}&lt;/mat-option&gt;
      &lt;/mat-select&gt;
    &lt;/mat-form-field&gt;
  &lt;/ng-container&gt;
  &lt;ng-container *queryOperator=&quot;let rule; let operators=operators&quot;&gt;
    &lt;mat-form-field&gt;
      &lt;mat-select [(ngModel)]=&quot;rule.operator&quot;&gt;
        &lt;mat-option *ngFor=&quot;let value of operators&quot; [value]=&quot;value&quot;&gt;{{value}}&lt;/mat-option&gt;
      &lt;/mat-select&gt;
    &lt;/mat-form-field&gt;
  &lt;/ng-container&gt;
  &lt;!-- Override input component for &#39;boolean&#39; type --&gt;
  &lt;ng-container *queryInput=&quot;let rule; type: &#39;boolean&#39;&quot;&gt;
    &lt;mat-checkbox [(ngModel)]=&quot;rule.value&quot;&gt;&lt;/mat-checkbox&gt;
  &lt;/ng-container&gt;
  &lt;!-- Override input component for &#39;category&#39; type --&gt;
  &lt;ng-container *queryInput=&quot;let rule; let field=field; let options=options; type: &#39;category&#39;&quot;&gt;
    &lt;mat-form-field&gt;
      &lt;mat-select [(ngModel)]=&quot;rule.value&quot; [placeholder]=&quot;field.name&quot;&gt;
        &lt;mat-option *ngFor=&quot;let opt of options&quot; [value]=&quot;opt.value&quot;&gt;
          {{ opt.name }}
        &lt;/mat-option&gt;
      &lt;/mat-select&gt;
    &lt;/mat-form-field&gt;
  &lt;/ng-container&gt;
  ...
&lt;/query-builder&gt;</code></pre></div><h2 id="property-bindings-quick-reference">Property Bindings Quick Reference</h2>
<p>See <a href="https://zebzhao.github.io/Angular-QueryBuilder/">documentation</a> for more details on interfaces and properties.</p>
<h4 id="query-builder"><code>query-builder</code></h4>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>allowRuleset</code></td>
<td style="text-align:left"><code>boolean</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"><code>true</code></td>
<td style="text-align:left">Displays the <code>+ Ruleset</code> button if <code>true</code>.</td>
</tr>
<tr>
<td style="text-align:left"><code>allowCollapse</code></td>
<td style="text-align:left"><code>boolean</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"><code>false</code></td>
<td style="text-align:left">Enables collapsible rule sets if <code>true</code>. (See Demo)</td>
</tr>
<tr>
<td style="text-align:left"><code>classNames</code></td>
<td style="text-align:left"><code>object</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"></td>
<td style="text-align:left">CSS class names for different child elements in <code>query-builder</code> component.</td>
</tr>
<tr>
<td style="text-align:left"><code>config</code></td>
<td style="text-align:left"><code>QueryBuilderConfig</code></td>
<td style="text-align:left">Required</td>
<td style="text-align:left"></td>
<td style="text-align:left">Configuration object for the main component.</td>
</tr>
<tr>
<td style="text-align:left"><code>data</code></td>
<td style="text-align:left"><code>Ruleset</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"></td>
<td style="text-align:left">(Use <code>ngModel</code> or <code>value</code> instead.)</td>
</tr>
<tr>
<td style="text-align:left"><code>emptyMessage</code></td>
<td style="text-align:left"><code>string</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left">Message to display for an empty Ruleset if empty rulesets are not allowed.</td>
</tr>
<tr>
<td style="text-align:left"><code>ngModel</code></td>
<td style="text-align:left"><code>Ruleset</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"></td>
<td style="text-align:left">Object that stores the state of the component. Supports 2-way binding.</td>
</tr>
<tr>
<td style="text-align:left"><code>operatorMap</code></td>
<td style="text-align:left"><code>{ [key: string]: string[] }</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"></td>
<td style="text-align:left">Used to map field types to list of operators.</td>
</tr>
<tr>
<td style="text-align:left"><code>value</code></td>
<td style="text-align:left"><code>Ruleset</code></td>
<td style="text-align:left">Optional</td>
<td style="text-align:left"></td>
<td style="text-align:left">Object that stores the state of the component.</td>
</tr>
</tbody>
</table>
<h2 id="structural-directives">Structural Directives</h2>
<p>Use these directives to replace different parts of query builder with custom components.</p>
<h4 id="queryinput"><code>queryInput</code></h4>
<p>Used to replace the input component. Specify the type/queryInputType to match specific field types to input template. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>Rule</code></td>
<td style="text-align:left">Current rule object which contains the field, value, and operator</td>
</tr>
<tr>
<td style="text-align:left"><code>field</code></td>
<td style="text-align:left"><code>Field</code></td>
<td style="text-align:left">Current field object which contains the field&#39;s value and name</td>
</tr>
<tr>
<td style="text-align:left"><code>options</code></td>
<td style="text-align:left"><code>Option[]</code></td>
<td style="text-align:left">List of options for the field, returned by <code>getOptions</code></td>
</tr>
<tr>
<td style="text-align:left"><code>onChange</code></td>
<td style="text-align:left"><code>() =&gt; void</code></td>
<td style="text-align:left">Callback to handle changes to the input component</td>
</tr>
</tbody>
</table>
<h4 id="queryoperator"><code>queryOperator</code></h4>
<p>Used to replace the query operator selection component. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>Rule</code></td>
<td style="text-align:left">Current rule object which contains the field, value, and operator</td>
</tr>
<tr>
<td style="text-align:left"><code>operators</code></td>
<td style="text-align:left"><code>string[]</code></td>
<td style="text-align:left">List of operators for the field, returned by <code>getOperators</code></td>
</tr>
<tr>
<td style="text-align:left"><code>onChange</code></td>
<td style="text-align:left"><code>() =&gt; void</code></td>
<td style="text-align:left">Callback to handle changes to the operator component</td>
</tr>
<tr>
<td style="text-align:left"><code>type</code></td>
<td style="text-align:left"><code>string</code></td>
<td style="text-align:left">Input binding specifying the field type mapped to this input template, specified using syntax in above example</td>
</tr>
</tbody>
</table>
<h4 id="queryfield"><code>queryField</code></h4>
<p>Used to replace the query field selection component. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>Rule</code></td>
<td style="text-align:left">Current rule object which contains the field, value, and operator</td>
</tr>
<tr>
<td style="text-align:left"><code>getFields</code></td>
<td style="text-align:left"><code>(entityName: string) =&gt; void</code></td>
<td style="text-align:left">Get the list of fields corresponding to an entity</td>
</tr>
<tr>
<td style="text-align:left"><code>fields</code></td>
<td style="text-align:left"><code>Field[]</code></td>
<td style="text-align:left">List of fields for the component, specified by <code>config</code></td>
</tr>
<tr>
<td style="text-align:left"><code>onChange</code></td>
<td style="text-align:left"><code>(fieldValue: string, rule: Rule) =&gt; void</code></td>
<td style="text-align:left">Callback to handle changes to the field component</td>
</tr>
</tbody>
</table>
<h4 id="queryentity"><code>queryEntity</code></h4>
<p>Used to replace the query entity selection component. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>Rule</code></td>
<td style="text-align:left">Current rule object which contains the field, value, and operator</td>
</tr>
<tr>
<td style="text-align:left"><code>entities</code></td>
<td style="text-align:left"><code>Entity[]</code></td>
<td style="text-align:left">List of entities for the component, specified by <code>config</code></td>
</tr>
<tr>
<td style="text-align:left"><code>onChange</code></td>
<td style="text-align:left"><code>(entityValue: string, rule: Rule) =&gt; void</code></td>
<td style="text-align:left">Callback to handle changes to the entity component</td>
</tr>
</tbody>
</table>
<h4 id="queryswitchgroup"><code>querySwitchGroup</code></h4>
<p>Used to replace the switch controls, for example the AND/OR conditions. More custom conditions can be specified by using this directive to override the default component. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>RuleSet</code></td>
<td style="text-align:left">Current rule set object which contain a list of child rules</td>
</tr>
<tr>
<td style="text-align:left"><code>onChange</code></td>
<td style="text-align:left"><code>() =&gt; void</code></td>
<td style="text-align:left">Callback to handle changes to the switch group component</td>
</tr>
</tbody>
</table>
<h4 id="queryarrowicon"><code>queryArrowIcon</code></h4>
<p>Used to replace the expand arrow used in collapse/accordion mode of the query builder. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>RuleSet</code></td>
<td style="text-align:left">Current rule set object which contain a list of child rules</td>
</tr>
</tbody>
</table>
<h4 id="queryemptywarning"><code>queryEmptyWarning</code></h4>
<p>Used to replace the default empty warning message component. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>RuleSet</code></td>
<td style="text-align:left">Current rule set object which contain a list of child rules</td>
</tr>
<tr>
<td style="text-align:left"><code>message</code></td>
<td style="text-align:left"><code>string</code></td>
<td style="text-align:left">Value passed to <code>emptyMessage</code></td>
</tr>
</tbody>
</table>
<h4 id="querybuttongroup"><code>queryButtonGroup</code></h4>
<p>Used to replace the default button group for Add, Add Ruleset, Remove Ruleset buttons. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>RuleSet</code></td>
<td style="text-align:left">Current rule set object which contain a list of child rules</td>
</tr>
<tr>
<td style="text-align:left"><code>addRule</code></td>
<td style="text-align:left"><code>() =&gt; void</code></td>
<td style="text-align:left">Function to handle adding a new rule</td>
</tr>
<tr>
<td style="text-align:left"><code>addRuleSet</code></td>
<td style="text-align:left"><code>() =&gt; void</code></td>
<td style="text-align:left">Function to handle adding a new rule set</td>
</tr>
<tr>
<td style="text-align:left"><code>removeRuleSet</code></td>
<td style="text-align:left"><code>() =&gt; void</code></td>
<td style="text-align:left">Function to handle removing the current rule set</td>
</tr>
</tbody>
</table>
<h4 id="queryremovebutton"><code>queryRemoveButton</code></h4>
<p>Used to replace the default remove single rule button component. See example, or demo to see how it&#39;s done.</p>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th style="text-align:left">Context Name</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>$implicit</code></td>
<td style="text-align:left"><code>Rule</code></td>
<td style="text-align:left">Current rule object which contains the field, value, and operator</td>
</tr>
<tr>
<td style="text-align:left"><code>removeRule</code></td>
<td style="text-align:left"><code>(rule: Rule) =&gt; void</code></td>
<td style="text-align:left">Function to handle removing a rule</td>
</tr>
</tbody>
</table>
<h2 id="dependencies">Dependencies</h2>
<ul>
<li>Angular 4+</li>
</ul>
<p>That&#39;s it.</p>
<h1 id="workflow">Workflow</h1>
<p>See the <a href="https://github.com/trekhleb/angular-library-seed">angular-library-seed</a> project for details on how to build and run tests.</p>















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script src="./js/libs/bootstrap-native.js"></script>

       <script src="./js/libs/es6-shim.min.js"></script>
       <script src="./js/libs/EventDispatcher.js"></script>
       <script src="./js/libs/promise.min.js"></script>
       <script src="./js/libs/zepto.min.js"></script>

       <script src="./js/compodoc.js"></script>

        <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 0;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'getting-started';
            var COMPODOC_CURRENT_PAGE_URL = 'index.html';
        </script>

       <script src="./js/search/search.js"></script>
       <script src="./js/search/lunr.min.js"></script>
       <script src="./js/search/search-lunr.js"></script>

       <script src="./js/tabs.js"></script>
       <script src="./js/menu.js"></script>
       <script src="./js/libs/prism.js"></script>
       <script src="./js/sourceCode.js"></script>
       <script src="./js/search/search_index.js"></script>


    </body>
</html>
