<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular2-query-builder documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular2-query-builder documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../">angular2-query-builder documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/QueryBuilderModule.html" >QueryBuilderModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/QueryBuilderComponent.html"  class="active" >QueryBuilderComponent</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-code"></span>
                            <span>Directives</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-directives-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-directives-links"
                            >
                                <li class="link">
                                    <a href="../directives/QueryInputDirective.html" >QueryInputDirective</a>
                                </li>
                        </ul>
                    </li>
            
            
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-interfaces-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="../interfaces/Field.html" >Field</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/LocalRuleMeta.html" >LocalRuleMeta</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/Option.html" >Option</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/QueryBuilderConfig.html" >QueryBuilderConfig</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/Rule.html" >Rule</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/RuleSet.html" >RuleSet</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../">angular2-query-builder documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/QueryBuilderModule.html" >QueryBuilderModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/QueryBuilderComponent.html"  class="active" >QueryBuilderComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-code"></span>
                                   <span>Directives</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#directives-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="directives-links"
                   >
                                       <li class="link">
                                           <a href="../directives/QueryInputDirective.html" >QueryInputDirective</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#interfaces-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="../interfaces/Field.html" >Field</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/LocalRuleMeta.html" >LocalRuleMeta</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/Option.html" >Option</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/QueryBuilderConfig.html" >QueryBuilderConfig</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/Rule.html" >Rule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/RuleSet.html" >RuleSet</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>QueryBuilderComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/components/query-builder/query-builder.component.ts</code>
</p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>query-builder</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>query-builder.component.scss</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>query-builder.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>allowRuleset</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                            <p>
                              <em>Default value: </em><code>true</code>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>classNames</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>{ [key: string]: string; }</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>config</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>QueryBuilderConfig</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>data</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>RuleSet</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>inputTypeTemplates</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>QueryList&lt;QueryInputDirective&gt;</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>operatorMap</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>{ [key: string]: string[]; }</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>parentData</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>RuleSet</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>


    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor()</code>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> findTemplateForRule</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>findTemplateForRule(rule: Rule)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>TemplateRef&lt;any&gt;</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> findQueryInput</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>findQueryInput(type: string)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>QueryInputDirective</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> getOperators</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>getOperators(field: string)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>string[]</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> getInputType</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>getInputType(field: string, operator: string)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>string</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> getOptions</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>getOptions(field: string)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>Option[]</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> getClassName</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>getClassName(id: string)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> addRule</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>addRule(parent: RuleSet)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> removeRule</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>removeRule(rule: Rule, parent: RuleSet)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> addRuleSet</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>addRuleSet(parent: RuleSet)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> removeRuleSet</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>removeRuleSet(ruleset: RuleSet, parent: RuleSet)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> onFieldChange</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>onFieldChange(rule: Rule)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> getQueryItemClassName</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>getQueryItemClassName(local: LocalRuleMeta)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>string</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Public</span> defaultClassNames</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-circle"></span><code>defaultClassNames:     <code>{ [key: string]: string; }</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Public</span> fieldNames</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-circle"></span><code>fieldNames:     <code>string[]</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> inputTypes</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>inputTypes:     <code>QueryList&lt;QueryInputDirective&gt;</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import { QueryInputDirective } from &#x27;./query-input.directive&#x27;;
import {
  Field,
  Option,
  QueryBuilderConfig,
  Rule,
  RuleSet,
  LocalRuleMeta
} from &#x27;./query-builder.interfaces&#x27;;
import {
  Component,
  ContentChildren,
  Input,
  OnChanges,
  OnInit,
  QueryList,
  SimpleChanges,
  TemplateRef
} from &#x27;@angular/core&#x27;;

@Component({
  selector: &#x27;query-builder&#x27;,
  templateUrl: &#x27;./query-builder.component.html&#x27;,
  styleUrls: [&#x27;./query-builder.component.scss&#x27;]
})
export class QueryBuilderComponent implements OnInit, OnChanges {
  public fieldNames: string[];
  public defaultClassNames: {[key: string]: string} &#x3D; {
    removeIcon: &#x27;q-icon q-remove-icon&#x27;,
    addIcon: &#x27;q-icon q-add-icon&#x27;,
    button: &#x27;q-button&#x27;,
    buttonGroup: &#x27;q-button-group&#x27;,
    switchGroup: &#x27;q-switch-group&#x27;,
    queryTree: &#x27;q-tree&#x27;,
    queryItem: &#x27;q-item&#x27;,
    queryRule: &#x27;q-rule&#x27;,
    queryRuleSet: &#x27;q-ruleset&#x27;,
    invalidRuleset: &#x27;q-invalid-ruleset&#x27;,
    emptyWarning: &#x27;q-empty-warning&#x27;,
    fieldControl: &#x27;q-field-control&#x27;,
    operatorControl: &#x27;q-operator-control&#x27;,
    inputControl: &#x27;q-input-control&#x27;
  };

  @Input() allowRuleset: boolean &#x3D; true;
  @Input() classNames: {[key: string]: string};
  @Input() operatorMap: {[key: string]: string[]} &#x3D; {
    string: [&#x27;&#x3D;&#x27;, &#x27;!&#x3D;&#x27;, &#x27;contains&#x27;, &#x27;like&#x27;],
    number: [&#x27;&#x3D;&#x27;, &#x27;!&#x3D;&#x27;, &#x27;&gt;&#x27;, &#x27;&gt;&#x3D;&#x27;, &#x27;&lt;&#x27;, &#x27;&lt;&#x3D;&#x27;],
    category: [&#x27;&#x3D;&#x27;, &#x27;!&#x3D;&#x27;],
    boolean: [&#x27;&#x3D;&#x27;]
  };
  @Input() parentData: RuleSet;
  @Input() data: RuleSet &#x3D; { condition: &#x27;and&#x27;, rules: [] };
  @Input() config: QueryBuilderConfig &#x3D; { fields: {} };
  @Input() inputTypeTemplates: QueryList&lt;QueryInputDirective&gt;;

  @ContentChildren(QueryInputDirective) inputTypes: QueryList&lt;QueryInputDirective&gt;;

  private defaultEmptyList: any[] &#x3D; [];
  private operatorsCache: {[key: string]: string[]};

  constructor() {}

  ngOnInit() {}

  ngOnChanges(changes: SimpleChanges) {
    const config &#x3D; this.config;
    const data &#x3D; this.data;

    if (typeof config &#x3D;&#x3D;&#x3D; &#x27;object&#x27;) {
      this.fieldNames &#x3D; Object.keys(config.fields);
      this.operatorsCache &#x3D; {};
    } else {
      throw new Error(&#x27;config must be a valid object&#x27;);
    }

    if (typeof data !&#x3D;&#x3D; &#x27;object&#x27;) {
      throw new Error(&#x27;data must be a valid object&#x27;);
    }
  }

  findTemplateForRule(rule: Rule): TemplateRef&lt;any&gt; {
    const type &#x3D; this.getInputType(rule.field, rule.operator);
    if (type) {
      const queryInput &#x3D; this.findQueryInput(type);
      if (queryInput) {
        return queryInput.template;
      } else {
        console.warn(&#x60;Could not find template for field with type: ${type}&#x60;);
        return null;
      }
    }
  }

  findQueryInput(type: string): QueryInputDirective {
    const templates &#x3D; this.inputTypeTemplates || this.inputTypes;
    return templates.find((item) &#x3D;&gt; item.queryInputType &#x3D;&#x3D;&#x3D; type);
  }

  getOperators(field: string): string[] {
    if (this.operatorsCache[field]) {
      return this.operatorsCache[field];
    }
    let operators &#x3D; this.defaultEmptyList;
    if (this.config.getOperators) {
      operators &#x3D; this.config.getOperators(field);
    }
    const fieldObject &#x3D; this.config.fields[field];
    const type &#x3D; fieldObject.type;

    if (fieldObject &amp;&amp; fieldObject.operators) {
      operators &#x3D; fieldObject.operators;
    } else if (type &amp;&amp; this.operatorMap[type]) {
      operators &#x3D; this.operatorMap[type];
    }

    if (fieldObject.options) {
      operators &#x3D; operators.concat([&#x27;in&#x27;, &#x27;not in&#x27;]);
    }
    if (fieldObject.nullable) {
      operators &#x3D; operators.concat([&#x27;is null&#x27;, &#x27;is not null&#x27;]);
    }
    // Cache reference to array object, so it won&#x27;t be computed next time and trigger a rerender.
    this.operatorsCache[field] &#x3D; operators;
    return operators;
  }

  getInputType(field: string, operator: string): string {
    if (this.config.getInputType) {
      return this.config.getInputType(field, operator);
    }
    const type &#x3D; this.config.fields[field].type;
    switch (operator) {
      case &#x27;is null&#x27;:
      case &#x27;is not null&#x27;:
        return null;  // No displayed component
      case &#x27;in&#x27;:
      case &#x27;not in&#x27;:
        return &#x27;multiselect&#x27;;
      default:
        return type;
    }
  }

  getOptions(field: string): Option[] {
    if (this.config.getOptions) {
      return this.config.getOptions(field);
    }
    return this.config.fields[field].options || this.defaultEmptyList;
  }

  getClassName(id: string) {
    const cls &#x3D; this.classNames ? this.classNames[id] : null;
    return cls !&#x3D; null ? cls : this.defaultClassNames[id];
  }

  addRule(parent: RuleSet): void {
    if (this.config.addRule) {
      return this.config.addRule(parent);
    } else {
      const field &#x3D; this.fieldNames[0];
      const fieldObject &#x3D; this.config.fields[field];
      parent.rules &#x3D; parent.rules.concat([
        {
          field: field,
          operator: this.operatorMap[fieldObject.type][0]
        }
      ]);
    }
  }

  removeRule(rule: Rule, parent: RuleSet): void {
    if (this.config.removeRule) {
      this.config.removeRule(rule, parent);
    } else {
      parent.rules &#x3D; parent.rules.filter((r) &#x3D;&gt; r !&#x3D;&#x3D; rule);
    }
  }

  addRuleSet(parent: RuleSet): void {
    if (this.config.addRuleSet) {
      this.config.addRuleSet(parent);
    } else {
      parent.rules &#x3D; parent.rules.concat([{condition: &#x27;and&#x27;, rules: []}]);
    }
  }

  removeRuleSet(ruleset: RuleSet, parent: RuleSet): void {
    if (this.config.removeRuleSet) {
      this.config.removeRuleSet(ruleset, parent);
    } else {
      parent.rules &#x3D; parent.rules.filter((r) &#x3D;&gt; r !&#x3D;&#x3D; ruleset);
    }
  }

  onFieldChange(rule: Rule): void {
    delete rule.value;
    rule.operator &#x3D; this.getOperators(rule.field)[0];
  }

  getQueryItemClassName(local: LocalRuleMeta): string {
    let cls &#x3D; this.getClassName(&#x27;queryItem&#x27;);
    cls +&#x3D; &#x27; &#x27; + this.getClassName(local.ruleset ? &#x27;queryRuleSet&#x27; : &#x27;queryRule&#x27;);
    if (local.invalid) {
      cls +&#x3D; &#x27; &#x27; + this.getClassName(&#x27;invalidRuleset&#x27;);
    }
    return cls;
  }
}
</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/menu.js"></script>
       <script src="../js/libs/highlight.pack.js"></script>
       <script src="../js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="../js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
