<div class="switch-field float-right">
    <button (click)="addRule(data)"><i class="close-icon">➕</i> Rule</button>
    <button (click)="addRuleSet(data)"><i class="close-icon">➕</i> Ruleset</button>
    <ng-container *ngIf="!!parentData">
        <button (click)="removeRuleSet(data, parentData)" class="danger"><i class="close-icon">❌</i></button>
    </ng-container>
</div>

<div class="switch-field">
    <input type="radio" [(ngModel)]="data.condition" value="and" #andOption/>
    <label (click)="data.condition=andOption.value">AND</label>
    <input type="radio" [(ngModel)]="data.condition" value="or" #orOption/>
    <label (click)="data.condition=orOption.value">OR</label>
</div>

<ul class="query-tree">
  <ng-container *ngFor="let item of data.rules">
    <ng-container *ngIf="{ruleset: !!item.rules, invalid: !config.allowEmptyRuleset && item.rules && item.rules.length === 0} as local">
      <li [ngClass]="{'query-item': true, 'rule': !local.ruleset, 'ruleset': local.ruleset, 'invalid-ruleset': local.invalid}">
        <ng-container *ngIf="!local.ruleset">
            <div class="switch-field float-right">
              <button class="danger" (click)="removeRule(item, data)"><i class="close-icon">❌</i></button>
            </div>

            <select class="form-control" [(ngModel)]="item.field" (change)="onFieldChange(item)">
              <option *ngFor="let field of fieldNames" [ngValue]="field">
                {{config.fields[field].name}}
              </option>
            </select>
            <select class="form-control" [(ngModel)]="item.operator">
              <option *ngFor="let operator of getOperators(item.field)" [ngValue]="operator">
                {{operator}}
              </option>
            </select>
            <ng-container [ngSwitch]="getInputType(item.field, item.operator)">
              <input class="form-control" [(ngModel)]="item.value" *ngSwitchCase="'text'" type="text">
              <input class="form-control" [(ngModel)]="item.value" *ngSwitchCase="'date'" type="date">
              <input class="form-control" [(ngModel)]="item.value" *ngSwitchCase="'number'" type="number">
              <select class="form-control" [(ngModel)]="item.value" *ngSwitchCase="'select'">
                <option *ngFor="let opt of getOptions(item.field)" [ngValue]="opt.value">
                  {{opt.name}}
                </option>
              </select>
              <ng-container *ngSwitchCase="'multiselect'">
                <div style="margin-bottom: 8px"></div>
                <select class="form-control" [(ngModel)]="item.value" style="min-width: 200px" multiple>
                  <option *ngFor="let opt of getOptions(item.field)" [ngValue]="opt.value">
                    {{opt.name}}
                  </option>
                </select>
              </ng-container>
              <input class="form-control" [(ngModel)]="item.value" *ngSwitchCase="'checkbox'" type="checkbox">
            </ng-container>
        </ng-container>
        <vr-query-builder *ngIf="local.ruleset" [data]="item" [parentData]="data" [config]="config" [typeMap]="typeMap" [operatorMap]="operatorMap"></vr-query-builder>
        <p class="empty-warning" *ngIf="local.invalid">A ruleset cannot be empty. Please add a rule or remove it all together.</p>        
      </li>
    </ng-container>
  </ng-container>
</ul>