:host {
  display: block;
  width: 100%;

  .q-icon {
    font-style: normal;
    font-size: 12px;
  }

  .q-remove-icon {
    &::before {
      content: '❌'
    }
  }
  .q-add-icon {
    color: #555;
    &::before {
      content: '➕'
    }
  }

  .q-remove-button {
    color: #B3415D;
  }

  .q-switch-group, .q-button-group {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    overflow: hidden;
  }

  .q-right-align {
    float: right;
  }

  .q-button {
    margin-left: 8px;
    padding: 2px 8px;
    background-color: white;
  }

  .q-control-size {
    display: inline-block;
    vertical-align: top;
  }

  .q-input-control, .q-operator-control, .q-field-control, .q-entity-control {
    display: inline-block;
    padding: 5px 8px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: auto;
  }

  .q-operator-control, .q-field-control,.q-entity-control, .q-input-control:not([type='checkbox']) {
    min-height: 32px;
    -webkit-appearance: none;
  }

  .q-switch-label, .q-button {
    float: left;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      background-color: #F0F0F0;
    }
  }

  .q-switch-label {
    background-color: #e4e4e4;
    line-height: 24px;
    padding: 0 8px;
  }

  .q-switch-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked + .q-switch-label {
      border: 1px solid rgb(97, 158, 215);
      background: white;
      color: rgb(49, 118, 179);
    }
  }

  .q-invalid-ruleset {
    border: 1px solid rgba(179, 65, 93, 0.5) !important;
    background: rgba(179, 65, 93, 0.1) !important;
  }

  .q-empty-warning {
    color: rgb(141, 37, 46);
    text-align: center;
  }

  .q-ruleset {
    border: 1px solid #CCC;
    background: rgba(204, 204, 204, 0.2);

    &:hover {
      border: 1px solid rgba(97, 158, 215, 0.5);
      background: rgba(97, 158, 215, 0.1);
    }
  }

  .q-rule {
    border: 1px solid #CCC;
    background: white;
  }

  .q-transition {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
  }

  .q-tree {
    list-style: none;
    margin: 4px 0 2px;
  }

   .q-row {
    padding: 4px 6px;
    margin-top: 4px;
  }

  .q-connector {
    position: relative;

    &::before {
      top: -5px;
      border-width: 0 0 2px 2px;
    }

    &::after {
      border-width: 0 0 0 2px;
      top: 50%;
    }

    &::before, &::after {
      content: '';
      left: -12px;
      border-color: #CCC;
      border-style: solid;
      width: 9px;
      height: calc(50% + 6px);
      position: absolute;
    }

    &:last-child::after {
      content: none;
    }
  }
  
  .q-inline-block-display{
    display: inline-block;
    vertical-align: top;
  }
}
