<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ng-pick-datetime@5.1.3/assets/style/picker.min.css">
  </head>
  <body>
    <my-app>
      Loading demo...
    </my-app>
  </body>
</html>
